.edit-map ,
.delete-map {
    cursor: pointer;
}

#newMap label {
    min-width: 77px;
}

#newMap div.map-info {
    margin: 13px 0;
    display: inline-block;
    width: 95%;
}

#newMap .wp-color-result:after {
    line-height: 20px;
}

#newMap .wp-color-result {
    margin-bottom: 0;
}

#map {
    height: 500px;
}

#address {
    width: 80%;
}

.all-maps-plugin .google-map-cart {
    width: 150px!important;
    height: 100px!important;
    display: inline-block;
}

.all-maps-plugin h2 a {
    margin-right: 7%;
}

ul#adminmenu #toplevel_page_show-map a.wp-has-current-submenu:after,
#adminmenu li#toplevel_page_show-map.wp-has-submenu.wp-not-current-submenu:hover:after,
#toplevel_page_show-map ul{
    display: none;
}

.map-patterns {
    height: 100%;
}

.map-patterns .pattern {
    margin: 23px 0;
}

.map-patterns .pattern img {
    cursor: pointer;
    padding: 0;
    border: 1px solid transparent;
}

.map-patterns .pattern img.active {
    border-color: red;
}

.pre-map {
    min-height: 355px!important;
}

body.wp-admin {
    color: #444;
    font-family: "Open Sans",sans-serif;
    line-height: 1.4em;
    min-width: 600px;
    background-color: transparent;
}

.custom-valign-top {
    vertical-align: top;
}

.all-maps-plugin .custom-link-map {
    display: none;
}

@media (min-width: 1200px) {
    .container {
        width: 1100px!important;
    }
}